version: "3.1"

services:

  postgres:
    image: postgres
    restart: unless-stopped
    environment: 
      POSTGRES_DB: todos_db
      POSTGRES_USER: postgres      
      POSTGRES_PASSWORD: berto
    networks:
      - backend-network
    volumes: 
      - type: bind
        source: ./database
        target: /var/lib/postgresql/data

  redis:
    image: redis
    restart: unless-stopped
    ports:
      - '6379:6379'

  backend:
    build: backend/
    restart: unless-stopped
    networks: 
      - backend-network
    depends_on: 
      - postgres
    ports:
      - '4000:4000'
  
networks:
  backend-network:
